 <nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Leva Pra Mim</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="btn" href="registerTravel">Vou viajar</a></li>
      <li><a class="btn" href="registerObject">Cadastrar Objeto</a></li>
      <li><a href="">Meus Dados</a></li>
      <li><a href="">Logout</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="auth/login">Meus Dados</a></li>
      <li><a href="auth/signup">Logout</a></li>
      <li><a href="registerTravel">Vou Viajar</a></li>
      <li><a href="registerObject">Cadastrar Objeto</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<section class="dashboard">
  <div>
    <div class="row">
      <div class="col offset-l1 l10 offset-m2 m8 offset-s1 s10 filter">
        <h5>Olá! Bem-vind@ João.</h5>
        <p>Deseja filtrar a listagem abaixo? <a class="modal-trigger" href="#modal1">Acesse aqui</a></p>
        <hr></hr>
      </div>
    </div>
    <div class="row">
      <div class="col offset-l1 l10 offset-m2 m8 offset-s1 s10">
        <ul class="tabs">
          <li class="tab col s4"><a class="active" href="#travel-object">Tudo</a></li>
          <li class="tab col s4"><a href="#object">Viagens</a></li>
          <li class="tab col s4"><a href="#travel">Objetos</a></li>
        </ul>
      </div>
      <div class="content col offset-l1 l10 offset-m2 m8 offset-s1 s10">
        <div id="travel-object" class="col s12">Tudo</div>
        <div id="object" class="col s12">
          {{#if travel}}
            {{#each travel}}
              <div>
                <h3>{{this.description}}</h3>
                <h3 class="travel--origin">{{this.origin}}</h3>
                <h3>{{this.destination}}</h3>
                <h3>{{this.departure}}</h3>
                <h3>{{this.arrival}}</h3>
                <h3>{{this.space}}</h3>
                <h3>{{this.price}}</h3>
              </div>
            {{/each}}
          {{else}}
            <div>
              <h2>Nenhuma viagem cadastrada</h2>
            </div>
          {{/if}}
        </div>
        <div id="travel" class="col s12">
          {{#if object}}
            {{#each object}}
              <div>
                <h3>{{this.description}}</h3>
                <p class="object--origin">{{this.origin}}</p>
                <p>{{this.destination}}</p>
                <p>{{this.departure}}</p>
                <p>{{this.arrival}}</p>
                <p>{{this.size}}</p>
                <p>{{this.price}}</p>
              </div>
            {{/each}}
          {{else}}
            <div>
              <h2>Nenhum objeto cadastrado</h2>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
       <h4>Selecione os filtros abaixo</h4>
       <p>Filtros</p>
     </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  </div>
  <div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">directions_car</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">present_to_all</i></a></li>
  </ul>
</div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvAW-8hwHHViHvPBUFQTbLUuJzG89kbYw"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
<script src="../../js/init.js"></script>
<script src="../../js/location.js"></script>

<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
  $(document).ready(function(){
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
</script>
