<div>
    <a href="/dashboard" class="btn-close right"><i class="material-icons">close</i></a></li>
</div>

<div class="container auth">
    <div class="section">
        <div class="row center">
            <div class="col offset-l3 l6 offset-m2 m8 offset-s1 s10">
                <h3>Antes de entrar em contato, escolha a viagem cadastrada</h3>
            </div>

            <div class="row">

                {{#if travels}}
                <div class="col l12 m12 s12">
                    <div class="row center-cols center-align">
                        {{#each travels}}
                        <div class="col l4 m10 s10">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../../images/dashboard/dark-map.png">
                                    <div class="card-title">
                                        <div class="card-subtitle departure">Partida em {{departure}}</div>
                                        <div class="travel--origin">{{origin}}</div>
                                        <div class="vl"></div>
                                        <div class="card-subtitle arrival">Chegada em {{arrival}}</div>
                                        <div class="travel--destination">{{destination}}</div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p>{{description}}</p>
                                </div>
                                <div class="card-action">
                                    <a id={{this._id}} href="/deal/sucess">Selecionar</a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <div>
                    <h5>Nenhuma viagem cadastrada.</h5>
                    <a href="registerTravel">Vou Viajar</a>
                </div>
                {{/if}}
            </div>

        </div>
    </div>
</div>

<!--  Scripts-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/moment.js"></script>
<script src="../../js/moment-with-locales.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
<script src="../../js/deal.js"></script>