{{#if travel}}
<div id="deal--container" data={{this._id}}>
    <h3>Selecione um dos seus objetos:</h3>
    {{#if objects}}
    {{#each objects}}
    <div class="content--user">
        <h3>{{this.origin}}</h3>
        <h3>{{this.destination}}</h3>
        <h3>{{this.departure}}</h3>
        <h3>{{this.size}}</h3>
        <h3>{{this.description}}</h3>
        <h3>{{this.price}}</h3>
    </div>
    <button class="btn-select" id="deal--{{this._id}}">SELECIONAR</button>
    {{/each}}
    {{else}}
    <div>
        <h3>Nenhum objeto cadastrado.</h3>
        <a href="registerObject">Cadastrar Objeto</a>
    </div>
    {{/if}}
</div>
{{/if}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/moment.js"></script>
<script src="../../js/moment-with-locales.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.js"></script>
<script src="../../js/init.js"></script>
<script src="../../js/deal.js"></script>