<h1>MATCH TRAVEL</h1>

<div>
    <h3>Selecione um dos seus objetos:</h3>
    {{#if objects}}
    {{#each objects}}
    <div id="content--user">
        <h3>{{this.origin}}</h3>
        <h3>{{this.destination}}</h3>
        <h3>{{this.departure}}</h3>
        <h3>{{this.size}}</h3>
        <h3>{{this.description}}</h3>
        <h3>{{this.price}}</h3>
    </div>
    {{/each}}
    {{else}}
    <div>
        <h3>Nenhum objeto cadastrado.</h3>
        <a href="registerObject">Cadastrar Objeto</a>
    </div>
    {{/if}}
</div>

<div>
    <h3>Dados da Viagem:</h3>
    {{#if travel}}
    <div id="content--deal">
        <h3>{{this.origin}}</h3>
        <h3>{{this.destination}}</h3>
        <h3>{{this.departure}}</h3>
        <h3>{{this.space}}</h3>
        <h3>{{this.description}}</h3>
        <h3>{{this.price}}</h3>
    </div>
    {{/if}}
</div>

<button id="deal">ENTRAR EM CONTATO</button>